/libext/cache

/server/exp/*
!/server/exp/webapp/

/server/exp/webapp/*
!/server/exp/webapp/WEB-INF/

/server/exp/webapp/WEB-INF/*
!/server/exp/webapp/WEB-INF/web.xml

/server/lib
/server/logs
/server/sbin
/server/work
/tools
/var
